<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= title %></h1> 
  <a href="/">トップページ</a>
  <dl>
    <dt>名前</dt>
    <dd><%= user.name %></dd>
    <dt>出身地</dt>
    <dd><%= user.birthplace %></dd>
    <dt>趣味</dt>
    <dd>
      <% user.hobby.forEach((hobby) => { %>
        <%= hobby %>
      <% }) %>
    </dd>
  </dl>
</body>
</html>